.header {
  padding: 20px 0;
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sitename {
  font-size: 30px;
  font-weight: 700;
}

.header span {
  font-size: 36px;
  color: var(--color-one);
  margin-bottom: 2px;
}

.navmenu ul {
  display: flex;
}

.navmenu ul li {
  padding: 16px;
}

.navmenu ul li a {
  position: relative;
  color: var(--color-text);
  transition: 0.3s;
  font-size: 15px;
  font-weight: 500;
}

.navmenu ul li a.active,
.navmenu ul li:hover a {
  color: var(--color-title);
}

.navmenu ul li a::before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 0;
  background-color: var(--color-one);
  position: absolute;
  bottom: -5px;
  left: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

.navmenu ul li a.active::before,
.navmenu ul li:hover a::before {
  visibility: visible;
  width: 100%;
}

/* Hero */
.hero {
  padding: 60px 0;
}

.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero h1 {
  font-size: 64px;
  font-family: var(--font-two);
}

.hero p {
  margin: 5px 0 30px;
  font-size: 20px;
  color: var(--color-text);
  max-width: 526px;
  line-height: 30px;
}

.hero img {
  width: 526px;;
  height: 526px;
  animation: spin 18s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* End hero */